<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/styles/globals.css" rel="stylesheet" type="text/css">
    <link href="/styles/login.css" rel="stylesheet" type="text/css">
    <link href="/styles/register.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Admin</title>
  </head>
  <body>
    <nav class='nav'>
      <a class='homea' href="/">
        <img class='home filterGreen' src='/images/home.svg' />
      </a>
    </nav>
    <div class='wrapperLog'>

    <% if(!locals.user) {%>
      <div>

      <h1 class='header'>What are you doing here?</h1>
    </div>

    <%} else if(!locals.user.admin){ %>
      <div>
        <h1 class='header'><%= title %></h1>
      </div>
      <div>
        <form class='loginForm' action="" method="POST" >
            <label for='username'>Username</label>
            <input type='text' name='username' placeholder='Username' type='text'>

            <label for='password'>Admin Password</label>
            <input type='password' name='password' placeholder='Password' />

            <% if(locals.message){ %>
              <span><%= locals.message %></span>
            <% } %>
            <button class='fancyButton'>Log in</button>
          </form>

      </div>

    <% } else{ %>
    <div>
      <h1 class='header'>You are already an admin</h1>
    </div>
      <% } %>
    </div>

  </body>

</html>
