<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
  </head>
  <body>
    <div class='wrapper'>
      <div class='indexHeader'>
        <h1>Hacker Club</h1>
      </div>
      <div class='welcome'>
        <h2>Register or log in to make a post.</h2>
        <div class='loginOptions'>
          <button class='fancyButton'>
            <a href="/login">Login</a>
          </button>
          <button class='fancyButton'>
            <a href="/register">Register</a>
          </button>
        </div>
        <img onclick='returnHome()' class='home filterGreen' src='/images/home.svg' />
      </div>

      <% if(locals.messages){ %>
        <% messages.forEach(function(message) { %>
        <div class='cardWrapper'>
          <div class='cardTop'>
            <div class='cardImage'>
              <img class='filterGreen' src='images/face.svg'/>
            </div>
            <div class='cardAuthor'>
              <span>Anonymous</span>
            </div>

          </div>

          <div class='cardBottom'>
            <div class='cardContent'>
              <div class='cardHeader'>
                <h3><%= message.title %></h3>
              </div>
              <div class='cardText'>
                <p>
                  <%= message.message %>
                </p>
              </div>

            </div>
            <div class='cardDate'>
              <span>XX:XX</span>
              <span>XX XXXXX XXXX</span>
            </div>

          </div>


          </div>
      <% }) } %>

        </div>
        <script src='/js/app.js'></script>

  </body>
</html>
