<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/styles/globals.css" rel="stylesheet" type="text/css">
    <link href="/styles/index.css" rel="stylesheet" type="text/css">
    <link href="/styles/animation.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Homepage</title>
  </head>
  <body>
    <div class='wrapper'>
    <nav class='nav'>
        <a class='homea' href="/">
          <img class='home filterGreen' src='/images/home.svg' />
        </a>
      </nav>
      <div class='indexHeader'>
        <h1 class='blink'>Hacker Club</h1>
      </div>
      <div class='welcome'>
        <h2>Register or log in to make a post.</h2>
        <div class='loginOptions'>
          <button class='fancyButton'>
            <a href="/login">Login</a>
          </button>
          <button class='fancyButton'>
            <a href="/register">Register</a>
          </button>
        </div>

      </div>

      <% if(locals.messages){ %>
        <% messages.forEach(function(message) { %>
        <div class='cardWrapper fadeIn'>
          <div class='cardTop'>
            <div class='cardImage'>
              <img class='filterGreen' src='images/face.svg'/>
            </div>
            <div class='cardAuthor'>
              <span>Anonymous</span>
            </div>

          </div>

          <div class='cardBottom'>
            <div class='cardContent'>
              <div class='cardHeader'>
                <h3><%= message.title %></h3>
              </div>
              <div class='cardText'>
                <p>
                  <%= message.message %>
                </p>
              </div>

            </div>
            <div class='cardDate'>
              <span>XX:XX</span>
              <span>XX XXXXX XXXX</span>
            </div>

          </div>


          </div>

          <% if(message.replies){  %>
            <% for (var i=0; i < message.replies.length; i++ ){ %>
              <div class='cardWrapper reply fadeIn'>
                <div class='cardTop replyTop'>
                  <div class='cardImage'>
                    <img class='filterGreen' src='images/face.svg'/>
                  </div>
                  <div class='cardAuthor'>
                    <span>Anonymous</span>
                  </div>
                </div>
                <div class='cardBottom'>
                  <div class='cardContent replyContent'>
                    <div class='cardText'>
                      <p>
                        XXX XXXX XXX XX
                      </p>
                    </div>
                  </div>
                <div class='cardDate'>
                  <span>XX:XX</span>
                  <span>XX XXXXX XXXX</span>
                  </div>
              </div>
            </div>

          <% }} %>




      <% }) } %>
      <div class='hackerAnimation'>
        <span class='number'>1</span>
        <span class='number2'>0</span>
        <span class='number3'>1</span>
        <span class='number4'>0</span>
        <span class='number5'>1</span>
      </div>
        </div>

  </body>
</html>
