<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/styles/globals.css" rel="stylesheet" type="text/css">
    <link href="/styles/login.css" rel="stylesheet" type="text/css">
    <link href="/styles/animation.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>
  </head>
  <body>
    <nav class='nav homeWrap'>
        <a class='homea' href="/">
          <img class='home filterGreen' src='/images/home.svg' />
        </a>
        <span class='hackerQuote'>I'm a hacker, but I'm the good kind of hackers. And I've never been a criminal.</span>

    </nav>
    <div class='wrapperLog'>

      <div>
        <h1 class='header'>Please log in</h1>
      </div>
      <div>
        <form class='loginForm' action="" method="POST" >
            <label for='username'>Username</label>
            <input type='text' name='username' placeholder='Username' type='text'>

            <label for='password'>Password</label>
            <input type='password' name='password' placeholder='Password' />

            <% if(message){ %>
              <span><%= message %></span>
            <% } %>
            <button class='fancyButton'>Log in</button>

        </form>
      </div>
      <div class='hackerAnimation'>
        <span class='number'>1</span>
        <span class='number2'>0</span>
        <span class='number3'>1</span>
        <span class='number4'>0</span>
        <span class='number5'>1</span>
      </div>
      </div>
      <footer class='footer'>
        <span class='quote'>Hackers often describe what they do as playfully creative problem solving.</span>
        <a class='footerGit' href='https://github.com/drenchoman'>
          <img class='filterWhite' src='/images/github.svg' />
          <span>Drenchoman</span>
        </a>
      </footer>

  </body>

</html>
