<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="/styles.css" rel="stylesheet" type="text/css">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Log in</title>
  </head>
  <body>
    <div class='wrapperLog'>
      <div>
        <h1 class='header'>Please log in</h1>
      </div>
      <div>
        <form class='loginForm' action="" method="POST" >
            <label for='username'>Username</label>
            <input type='text' name='username' placeholder='Username' type='text'>

            <label for='password'>Password</label>
            <input type='password' name='password' placeholder='Password' />

            <% if(message){ %>
              <span><%= message %></span>
            <% } %>
            <button class='fancyButton'>Log in</button>
        </form>
        <img class='home filterGreen' src='/images/home.svg' />

      </div>
      </div>
      <script src='/js/app.js'></script>

  </body>

</html>
