<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Log in</title>
  </head>
  <body>
    <div>
      <div>
        <h1>Please log in</h1>
      </div>
      <div class="">
        <form action="" method="POST" >
            <label for="username">Username</label>
            <input type="text" name="username" placeholder="Username" type="text">

            <label for="password">Password</label>
            <input type="password" name="password" placeholder="Password" />

            <% if(message){ %>
              <span><%= message %></span>
            <% } %>
            <button>Log in</button>
        </form>
      </div>
      </div>
  </body>
</html>
