@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&family=VT323&display=swap');
/* css styling resets */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
html, body {
  height: 100%;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #18191A;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
  border: 2px solid #20C20E;
  color: black;
  font-family: monospace;
}

::placeholder{
  color: black;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;

}
h1, h2, h3, label{
  font-family: 'Press Start 2P', cursive;
  color: #20C20E;
}
p, span, li{
  font-family: 'VT323', monospace;
  color: #ffffff;
}

footer{
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  background-color: #242526;
}



.footerGit{
  display: flex;
  text-decoration: none;
  align-self: flex-end;
}
.footerGit > img{
  margin: 0 0.5rem;
  filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(130deg) brightness(111%) contrast(101%);

}


.fancyButton{
  background-color: #18191A; /* Green */
  border: 2px solid #20C20E;
  padding: 0.25rem 1rem;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  color: #ffffff;
}

.fancyButton:hover{
  cursor: pointer;
  background-color: #20C20E;
}

.fancyButton:focus{
  cursor: pointer;
  background-color: #20C20E;
}

.fancyButton > a{
  color: #ffffff;
}

.nav{
  display: flex;
  width: 100%;
  justify-content: flex-end;
  background-color: #242526;
  height: 40px;
  align-items: center;

}

.homeWrap{
  padding: 0 0.75rem;

}

.homea{
  flex: auto;
}

.home, .admin, .profile, .logout, .members{
  margin: 0 1rem 0 0.5rem;
  height: 24px;
  width: 24px;
}

.logout{
  margin-bottom: 0;
}

.home:hover{
  cursor: pointer;
}

.admin, .profile{
  align-self: flex-end;
}


.admin:hover{
  cursor:pointer
}


.filterGreen{
filter: invert(58%) sepia(21%) saturate(7213%) hue-rotate(78deg) brightness(102%) contrast(94%);
}

.filterRed{
filter: invert(15%) sepia(100%) saturate(7248%) hue-rotate(8deg) brightness(94%) contrast(107%);
}

.filterWhite{
  filter: invert(100%) sepia(0%) saturate(7498%) hue-rotate(130deg) brightness(111%) contrast(101%);
}

.wrapperLog{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
}

.header{
  margin: 1rem 0;
}

.errors{
  margin: 0.5rem 0;
}


@media screen and (max-width: 414px){

  p{
    font-size: 18px;
  }
  .wrapperLog, .homeWrap{
    padding: 0 0.75rem;
  }
  .header{
    text-align: center;
  }
  .footerGit{
    flex-direction: column;
    align-items: center;
    padding-top: 0.2rem

  }
  .hackerQuote{
    font-size: 10px;
  }
}

@media screen and (max-width: 375px){

  p{
    font-size: 18px;
  }
  .wrapperLog, .homeWrap{
    padding: 0 0.75rem;
  }
  .header{
    text-align: center;
  }
  .footerGit{
    flex-direction: column;
    align-items: center;
    padding-top: 0.2rem

  }
  .hackerQuote{
    font-size: 10px;
  }
}

@media screen and (max-width: 325px){

  .wrapperLog, .homeWrap{
    padding: 0 0.75rem;
  }

  .header{
    text-align: center;
  }
  .footerGit{
    flex-direction: column;
    align-items: center;
    padding-top: 0.2rem
  }
  .hackerQuote{
    font-size: 9px;
  }

}
